<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

<!--=== user input search & select ===--> 
      Search: <input ng-model="query">
      Show me:
      <select ng-model="orderProp">
        <option value="">All</option>
        <option value="Non-Fiction">Non-Fiction</option>
        <option value="Fiction">Fiction</option>
      </select>
      Books about: 
      <select ng-model="orderG">
        <option value="">All</option>
        <option value="Biographies">Biographies</option>
        <option value="Business">Business</option>
        <option value="Calendars">Calendars</option>
        <option value="Children's Books">Children's Books</option>
        <option value="Christian Books">Christian Books</option>
        <option value="Comics">Comics</option>
        <option value="Computers">Computers</option>
        <option value="Cookbooks">Cookbooks</option>
        <option value="Education">Education</option>
        <option value="Engineering">Engineering</option>
        <option value="Fantasy">Fantasy</option>
        <option value="Health">Health</option>
        <option value="History">History</option>
        <option value="Humor">Humor</option>
        <option value="Law">Law</option>
        <option value="Literature">Literature</option>
        <option value="Medical Books">Medical Books</option>
        <option value="Parenting">Parenting</option>
        <option value="Politics">Politics</option>
        <option value="Relationships">Relationships</option>
        <option value="Religion">Religion</option>
        <option value="Romance">Romance</option>
        <option value="Science Fiction">Science Fiction</option>
        <option value="Sciences">Sciences</option>
        <option value="Self-Help">Self-Help</option>
        <option value="Social Sciences">Social Sciences</option>
        <option value="Spirituality">Spirituality</option>
        <option value="Technology">Technology</option>
        <option value="Sports">Sports</option>
        <option value="Teen">Teen</option>
        <option value="Thriller">Thriller</option>
        <option value="Arts">Arts</option>
        <option value="Travel">Travel</option>
      </select>

    </div>
      <!--Body content-->

    <div class="row">
        <div ng-repeat="book in books | filter:query | filter:(orderProp || undefined):true | filter:(orderG || undefined):true | orderBy:orderProp">
            <div class="col-xs-6 col-sm-3 col-md-2 bookList">
              
              <div><a href="#/books/{{book.id}}" ng-click="currentObj(book)"><img class="coverImg" ng-src="{{book.cover}}"></a></div>  
              <div><a href="#/books/{{book.id}}" ng-click="currentObj(book)">{{book.name}}</a></div>
              <div>
              <p>{{'by ' + book.author.name}}</p>
              <p>{{book.likes}}{{book.published | date}}</p>
              <p>{{book.genre.category}}</p>
              <p>{{book.genre.name}}</p>
              </div>

            </div>
        </div>
    </div> 

    </div>
  </div>
</div>
